.App {
  font-family: sans-serif;
  text-align: center;
}

.heading-container {
  display: flex;
}

.heading {
  padding: 5px;
  border: 1px solid;
}

.tab-body {
  display: flex;
  border: 1px solid;
  height: 200px;
  padding: 5px;
}
